{% extends "CyberSpectrumI18NContaoBundle:contao-backend:main.html.twig" %}

{% set submenu_actions = {
    'pages': {
        title: 'Page',
        params: { map: 'tl_page' }
    },
    'article': {
        title: 'Article',
        params: { map: 'tl_article' }
    },
    'article_content': {
        title: 'Article content',
        params: { map: 'tl_article.tl_content' }
    },
} %}

{% block headline %}
    {% if app.request.get('map') is not empty %}
    {{ errors|length }} Mapping problems.
    {% else %}
    Please select a map.
    {% endif %}
{% endblock %}

{% block content %}
<ul id="mapping_errors">
    {{ form(form) }}
    {% for error in errors %}
        <li class="{{ error.type }}">
            <span class="message">{{ error.origin }}: {{ error.processed }}</span>
            {% if error.href_element is defined and error.href_element is not null %}
                <span class="single-element">
                {% if error.href_element is defined %}
                <a href="{{ url('contao_backend', error.href_element) }}">Jump to element</a>
                {% endif %}
            </span>
            {% else %}
            <span class="main-element">
                {% if error.href_main is defined and error.href_main is not null %}
                <a href="{{ url('contao_backend', error.href_main) }}">Jump to main</a>
                {% endif %}
            </span>
            <span class="source-element">
                {% if error.href_source is defined and error.href_source is not null %}
                <a class="" href="{{ url('contao_backend', error.href_source) }}">Jump to source</a>
                {% endif %}
            </span>
            <span class="target-element">
                {% if error.href_target is defined and error.href_target is not null %}
                <a href="{{ url('contao_backend', error.href_target) }}">Jump to target</a>
                {% endif %}
            </span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
